*{
    list-style:  none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Nunito Sans", sans-serif;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    height: 100vh;
    color: #333;
}
.navbar{
    background-color:  #9FCAE5;
    padding: 2rem;

}
.nav_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav_item a {
    color: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #D79FC7;
    border: 1px solid transparent;
    transition: all .3s ease;
    cursor: pointer;
    outline: none;  
    padding: 1rem ;
    border-radius: 20px;
}
.nav_item a:hover{
    color: #D79FC7;
    background-color: #333;
}

input {
    display: block;
    margin: 2rem auto;
    width: 12rem;
    height: 3rem;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 1rem;
}

input:focus {
    outline: none;
}

.button {
    border: none;
    padding: 1rem 1.5rem;
    font-family: inherit;
    color: inherit;
    background-color: #c7365f;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;

}

.button:hover {
    color: #fff;
    background-color: #c7365f;
  }