/* styles the h1 header */
.primary_header {
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 2rem;
    color: white;

}

/* styles the input class */
.inputs {
    background-color: rgba(255, 255, 255, 0.35);
    width: 30vw;
    padding: 3rem 0;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
    border-radius: 10px;

}

/* styles the result clss */
.result{
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
