/* styling net_salary_cal */
.net_salary_calc{
    margin-top: 3rem;
    text-align: center;
}
.net_salary_calc h1{
    margin-bottom: 2rem;
    font-size: 2rem;
    color: white;
}
 /* Flexbox layout */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
}

.inputs{
     /* Center elements */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      /* Styling */
    background-color:  rgba(255, 255, 255, 0.35);
    padding: 3rem;
    width: 30%;
    border-radius: 1rem;
    /* Positioning */
    margin: auto;
}

/* Flexbox for layout */
.salary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;

}
/* CSS for .salary h2 styling */
.salary h2{
    width: 70%;
    margin-right: 1rem;
}
 /* Container class for benefits */
.benefits{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}
/* Benefits section h2 styling */
.benefits h2{
    width: 70%;
    margin-right: 3rem;
}

/* styles for output h2 elements */
.output h2{
    margin-left: 2rem;
}